<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
  <!-- Navbar content -->
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link px-3" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" href="#">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" href="#">Contact</a>
      </li>
    </ul>
  </div>
  <a class="float-right mr-4 header-icon" title="LinkedIn" ><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
  <a class="float-right mr-3 header-icon" title="Github"  href="https://github.com/AnkitS97"><i class="fa fa-github fa-lg"></i></a>
  </div>
</nav>
