<div class="card card-container">
  <div class="card-body">
    <div class="text-center" style="height: 150px;">
      <img src="../../assets/images/images.png" alt="Image of Ankit Sawant" class="img-pos rounded-circle">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <button type="button" class="btn btn-outline-primary" (click)="downloadMyFile()">Download resume</button>
        </div>
      </div>
    </div>
    <div class="intro">
      <h2 class="text-center font-weight-bold">Ankit Sawant</h2>
      <span class="text-center">Software Engineer at Citiustech</span>
      <div>
        <span class="mx-5"><i class="fa fa-phone" aria-hidden="true"></i> +91 9869549744 </span>
        <span class="mx-5"></span> <i class="fa fa-envelope" aria-hidden="true"></i> ankitssawant97@gmail.com
      </div>
      <p>Hi, welcome to my portfolio. I am adroit at solving data science problem using Machine Learning and Deep Learning in python programming language.</p>
    </div>

  </div>

</div>