@import '../../styles-variable.scss';

.card-container {
  margin-top: 200px;
}

.img-pos {
  max-height: 200px;
  position: relative;
  bottom: 120px;
}

.intro {
  opacity: 0.7;
  line-height: 52px;
  text-align: center;

  h2 {
    font-size: 3em;
  }

  span {
    font-size: 1.1em;
  }

  p {
    font-size: 0.9em;
    line-height: 27px;
    opacity: 0.7;
    padding: 0 90px;
    margin-bottom: 40px;
  }

  .icons {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 321px) {
  .row {
    position: absolute;
    margin-left: 32px;
    top: 92%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .row {
    position: absolute;
    margin-left: 59px;
    top: 92%;
  }
}

@media (min-width: 376px) and (max-width: map-get($grid-breakpoints, xs)) {
  .row {
    position: absolute;
    margin-left: 86px;
    top: 92%;
  }
}

@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm )) {
  .row {
    position: absolute;
    top: 92%;
    margin-left: 34px;
  }
}

@media (max-width: map-get($grid-breakpoints, sm )) {
  .intro {    
    span {
      font-size: 0.9em;
    }

    .icons {
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: 26px;
    }

    h2 {
      font-size: 2em;
    }

    p {
      padding: 0px;
      margin-top: 42px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm )) and (max-width: map-get($grid-breakpoints, md)) {
  .intro {
    .span {
      font-size: 15px;
    }
  }  
}


// @media (max-width: 320px) {
//   .intro {
//     .span {
//       font-size: 0.66em;
//     }
//   }

//   .row {
//     margin-left: 12px;
//     top: 655%;
//   }
// }
