<!-- For more than 1 Experience use this timeline -->

<!-- <p-timeline [value]="events" align="alternate">
  <ng-template pTemplate="marker" let-event>
    <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
      <i [ngClass]="event.icon"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <p-card [header]="event.status" [subheader]="event.date">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      <button pButton label="Read more" class="p-button-text"></button>
    </p-card>
  </ng-template>
</p-timeline> -->
<div class="pb-3">
  <p-card>
    <ng-template pTemplate="header">
      <div class="text-center pt-3">
        <h2>CitiusTech</h2>
        <h4>Software Developer</h4>
        <h5>June 2019 - Present</h5>
      </div>
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  </p-card>
</div>
