@import '../../styles-variable.scss';

.project {
  cursor: pointer;
  z-index: 99;
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}
 
.image {
  width: 300px;
}

a:hover {
  text-decoration: none;
}

@media (max-width: map-get($grid-breakpoints, sm )) {
  .col-sm-4 {
    padding: 15px;
  }
}