<div class="row">
  <div class="col-sm-4">
    <div class="card text-center project" (click)="showDialog()">
      <img src="../../assets/images/DS-projects.png" class="card-img" alt="Project 1">
      <div class="card-body">
        <h5 class="card-title">Project 1</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center project" (click)="showDialog()">
      <img src="../../assets/images/DS-projects.png" class="card-img" alt="Project 1">
      <div class="card-body">
        <h5 class="card-title">Project 2</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center project" (click)="showDialog()">
      <img src="../../assets/images/DS-projects.png" class="card-img" alt="Project 1">
      <div class="card-body">
        <h5 class="card-title">Project 3</h5>
      </div>
    </div>
  </div>

</div>

<p-dialog [(visible)]="display" closable="true" modal="modal" [draggable]="false" [resizable]="false"
  [responsive]="true" [style]="{width: '500px'}" [dismissableMask]="true" >
  <p-header>
    {{project['projectName']}}
    
  </p-header>
  <div class="mx-auto image">
    <img src="../../assets/images/{{project['projectImage']}}" class="card-img" alt="Project 1">
  </div>
  <div class="pt-3 text-center">
    {{project['projectDesc']}}
    <div class="pt-3">
      <button type="button" class="btn btn-outline-primary"><a href="{{project['projectLink']}}" style="color: inherit;" target="_blank">GitHub</a></button>
    </div>
  </div>
</p-dialog>