<div class="pb-3">
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-5 pl-4">
        <h4>Programming Languages and Tools</h4>
        <p>Familiar with Machine Learning Libraries and Tools.</p>
      </div>
    </ng-template>
    <div *ngFor="let skill of skills" class="col-md-4" style="display: inline-block;">
      <i class="fa fa-circle mr-2" aria-hidden="true"></i>
      {{skill}}
    </div>

    <div class="text-center mt-2">
      <img src="../../assets/images/download.png" alt="Image of AI" class="img-pos mr-5">
      <i class="fab fa-python fa-3x mt-4 mr-5" aria-hidden="true"></i>
      <i class="fa fa-database fa-3x mt-4 mr-5" aria-hidden="true"></i>
      <i class="fab fa-npm fa-3x mt-4 mr-5" aria-hidden="true"></i>
      <i class="fab fa-html5 fa-3x mt-4 mr-5" aria-hidden="true"></i>
      <i class="fab fa-css3-alt fa-3x mt-4 mr-5" aria-hidden="true"></i>
      <i class="fab fa-java"></i>
    </div>
  </p-card>
</div>