<div>
  <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
    <!-- Navbar content -->
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link px-3" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#education">Education</a>
          </li>
        </ul>
      </div>
      <a class="float-right mr-4 header-icon" title="LinkedIn" href="https://github.com/AnkitS97" target="_blank"><i class="fa fa-linkedin fa-lg"
          aria-hidden="true"></i></a>
      <a class="float-right mr-3 header-icon" title="Github" href="https://github.com/AnkitS97" target="_blank"><i class="fa fa-github fa-lg"></i></a>
    </div>
  </nav>

  <div class="container">
    <app-about></app-about>
    <div id="projects">
      <h2 class="text-center font-weight-bold header"><i class="fa fa-lightbulb-o mr-3" aria-hidden="true"></i>Projects
      </h2>
      <app-projects></app-projects>
    </div>
    <div id="experience">
      <h2 class="text-center font-weight-bold header"><i class="fa fa-briefcase mr-3"></i>Experience</h2>
      <app-experience></app-experience>
    </div>
    <div id="skills">
      <h2 class="text-center font-weight-bold header"><i class="fa fa-wrench mr-3" aria-hidden="true"></i>Skills</h2>
      <app-skills></app-skills>
    </div>
    <div id="education">
      <h2 class="text-center font-weight-bold header"><i class="fa fa-university mr-3" aria-hidden="true"></i>Education</h2>
      <app-education></app-education>
    </div>
  </div>
</div>